html, body {
    width: 100%;  
    height: 100%;
}

body { 
    background-color:#2E363F;    
    padding: 0;    
    margin-top:10%;
}

#loginbox {    
    width: 36%;    
    margin-left: auto;    
    margin-right: auto;    
    position: relative;
}

.form-horizontal {
  margin-bottom: 0;
  background:none;
  border-top:1px solid #3f4954;
}

.input-group, .login_logo {
    margin:0 auto; 
    text-align:center; 
    font-size:13px; 
    padding:20px; 
}

.input-group {
    width:80%;     
    margin-left: auto;     
    margin-right: auto;
}
    
.form-actions { 
    padding-top:10px;
    margin-top: 20px;
}

@media (max-width:800px){
#logo { width: 60%; }
#loginbox{ width:80%}
}

@media (max-width: 480px){
#logo { width: 40%; }
#loginbox{ width:90%}
#loginbox .control-group{ padding:8px 0; margin-bottom:0px;}
}