<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flasktest</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    <input type="submit" value="Go">
</form>


<form method="POST" action="/">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username(size=30) }}
    <input type="submit" value="Go">
</form>

</body>
</html>