{% extends "layout.html" %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row row-box">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Users</span>
                        <h5>用户总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><a href="#">1</a></h1>
                        <small>All user</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Servers</span>
                        <h5>服务器总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><a href="#">3</a></h1>
                        <small>All servers</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">online</span>
                        <h5>在线用户</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><a href="#"> <span id="online_users">1</span></a></h1>
                        <small>Online user</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-ok pull-right">WorkOrders</span>
                        <h5>工单总数</h5>
                    </div>
                    <div class="ibox-content">
                            <h1 class="no-margins"><a href="#"> <span id="online_hosts">0</span></a></h1>
                        <small>Connected host</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
