<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <div class="logo" style="text-align:center; padding: 20px 20px;">
                <img alt="Lemon" width="130" height="50" src="../static/img/logo.png"/>
            </div>
            <li id="Dashboard"><a href="{{ url_for('main.dashboard') }}"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
            <li id="user_manage"><a href="{{ url_for('user.user_manage') }}"><i class="fa fa-users"></i><span>User Manage</span></a></li>
            <li id="data_sync"><a href="{{ url_for('data_sync.data_sync_list') }}"><i class="fa fa-umbrella"></i><span>Data_Sync</span></a></li>
            <li><a href="#"><i class="fa fa-server"></i><span>Server List</span></a></li>
            <li><a href="#"><i class="fa fa-terminal"></i><span>Shell Terminal</span></a></li>
            <li><a href="#"><i class="fa fa-cog"></i><span>Ansible</span></a></li>
{#            <li><a href="#"><i class="fa fa-ship"></i><span>Jboss Instance</span></a></li>#}
{#            <li><a href="#"><i class="fa fa-codepen"></i><span>Docker</span></a></li>#}
{#            <li><a href="#"><i class="fa fa-empire"></i><span>Security Update</span></a></li>#}
{#            <li><a href="#"><i class="fa fa-check-circle"></i><span>Tasks</span></a></li>#}
            <li><a href="#"><i class="fa fa-rebel"></i><span>Work Order</span></a></li>
{#            <li><a href="#"><i class="fa fa-joomla" aria-hidden="true"></i><span>DNS</span></a></li>#}
            <li><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i><span>Audit</span></a></li>
        </ul>
    </div>
</nav>
