<!-- job add modal-->
<div id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="addModalLabel" class="modal-title">Add New Backup</h4>
          </div>
          <!-- you can place the contents in modal-body -->
          <div class="modal-body">
            <form class="form-horizontal" id="backupdes">
                <div class="form-group">
                    <label class="col-sm-2 control-label">BackupName</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addJobname" required="required"  data-rule-required="true" placeholder="input your job name">
                        <p>
                            <strong style="color: #b81900">注意：请先确保目标服务器安装好salt-minion 代理客户端. BackupName 引用需是salt Accepted Keys。如:<br /></strong>
                            <code>
                                [root@om-center ~]# salt-key<br />
                                Accepted Keys:<br />
                                om-center<br />
                                test-client.mgtest.com
                            </code>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">IP</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addIP" name="addIP" required="required" placeholder="remote server IP">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Port</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addPort" name="addPort" required="required" placeholder="ssh port">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Source</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addSource" name="addSource" required="required" placeholder="Source path, eg. /tmp/">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">backup_Server</label>
                    <div class="col-sm-10">
                        <select id="Backup_server" class="form-control">
                            {% for backup_server in backup_server_list %}
                                <option value="{{ backup_server[0] }}">{{ backup_server[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Destination</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addDestination" name="addDestination" disabled="disabled" value="/opt/Backup/">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Owner</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="addOwner" name="addOwner" required="required" placeholder="Owner">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" required="" for=""> Scheduling </label>
                    <div class="col-sm-2">
                        <input id="input-job-minute" class="form-control" type="text" value="00">
                        <span class="help-block text-center">minute</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="input-job-hour" class="form-control" type="text" value="01">
                        <span class="help-block text-center">hour</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="input-job-day" class="form-control" type="text" value="*">
                        <span class="help-block text-center">day of month</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="input-job-month" class="form-control" type="text" value="*">
                        <span class="help-block text-center">month</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="input-job-day-of-week" class="form-control" type="text" value="*">
                        <span class="help-block text-center">day of week</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for=""> Note: </label>
                    For day of week, 0 is Monday, 6 is Sunday. Legal format:
                    <strong>0-3</strong>,<strong>mon,tue,wed,thu,fri,sat,sun</strong>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancle</button>
                  <button id="btnAdd" type="button" class="btn btn-primary" onclick="AddBackup(this)" >Add</button>
                </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Backup</h4>
          </div>
          <div class="modal-body">
            <p style="color:red">Are you sure to delete this backup record ? !!!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="ConfirmDelete(this)">Yes</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addBackupServer_Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="addModalLabel" class="modal-title">Add Backup Server</h4>
          </div>
          <!-- you can place the contents in modal-body -->
          <div class="modal-body">
            <form class="form-horizontal" id="backup_server_des">
                <div class="form-group">
                    <label class="col-sm-2 control-label">server_name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="add_server_name" name="add_server_name" required="required" placeholder="eg.backup_server_01">
                        <p>
                            <strong style="color: #b81900">注意：请先确保目标服务器安装好salt-minion 代理客户端. server_name 引用需是salt Accepted Keys。如:<br /></strong>
                            <code>
                                [root@om-center ~]# salt-key<br />
                                Accepted Keys:<br />
                                om-center<br />
                                test-client.mgtest.com
                            </code>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">ipaddress</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="add_ipaddress" name="add_ipaddress" required="required" placeholder="eg.10.1.1.1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">backup_folder</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="add_backup_folder" name="add_backup_folder" disabled="disabled" value="/opt/Backup">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">backup_user</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="add_backup_user" name="add_backup_user" disabled="disabled" value="backup">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancle</button>
                  <button id="btnAdd" type="button" class="btn btn-primary" onclick="addBackupServer(this)" >Add</button>
                </div>
            </form>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<div id="generateModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="addModalLabel" class="modal-title">Generate Cron</h4>
          </div>
          <!-- you can place the contents in modal-body -->
          <div class="modal-body">
              <p style="color:red">You can have a check by "crontab -l" on target server!!!</p>
            <form class="form-horizontal" id="backup_server_des">
                <div class="form-group">
                    <label class="col-sm-2 control-label">backup_Server</label>
                    <div class="col-sm-10">
                        <select id="g_Backup_server" class="form-control">
                            {% for backup_server in backup_server_list %}
                                <option value="{{ backup_server[0] }}">{{ backup_server[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancle</button>
                  <button id="btnGenerate" type="button" class="btn btn-primary" onclick="generate_Cron(this)" >Generate</button>
                </div>
            </form>
          </div>
        </div>
    </div>

</div>