<div class="groups_box">
    <button type="button" class="btn btn-success pull-right" id="newUser" data-toggle="modal" data-target="#addModal"><strong>+ New Group</strong></button>

    <div class="users_content">
        <table id="user_list" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="info">Group_Name</th>
                    <th class="info">Created_time</th>
                    <th class="info">Users</th>
                </tr>
            </thead>
            <tbody id="user_tb">
                {% for user in user_list %}
                    <tr class="server_tr">
                        <td class="center">{{ user[1] }}</td>
                        <td class="center">{{ user[3] }}</td>
                        <td class="center">{{ user[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>